.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.left-out-enter{
  opacity:0;
  transform: translateX(100%);
}

.left-out-enter-active{
  opacity:1;
  transform: translateX(0);
}

.left-out-exit {
  opacity:0;
  transform: translateX(100%);
}

.left-out-exit-active {
  opacity: 0;
  transform: translateX(0);
}